<?xml version="1.0" encoding="UTF-8"?>
<web-app>
    <servlet>
        <servlet-name>surajsahani.com.UserRegistrationServlet</servlet-name>
        <servlet-class>surajsahani.com.UserRegistrationServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>surajsahani.com.UserRegistrationServlet</servlet-name>
        <url-pattern>/register</url-pattern>
    </servlet-mapping>
    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
    </welcome-file-list>
</web-app>
